/*Imports*/
/*Utilities*/
/* Variables*/
/*Resume page*/
#resu-main .exp, #resu-main .edu, #resu-main .skill {
  z-index: -1;
  padding: 2em; }

.resu-info {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: auto;
  line-height: 2em; }
  .resu-info h2 {
    text-align: center;
    margin-bottom: 4%; }
  .resu-info .exp-con div, .resu-info .edu-con div {
    margin-bottom: 5%; }
  .resu-info .exp {
    display: flex;
    justify-content: flex-end;
    grid-row: 1/4;
    grid-column: 1/7;
    background-color: #3F3F3F;
    color: #EAEAEA; }
  .resu-info .edu {
    display: flex;
    justify-content: flex-end;
    grid-row: 4/7;
    grid-column: 1/7;
    background-color: #EAEAEA;
    color: #898989; }
  .resu-info .skill {
    display: flex;
    justify-content: flex-start;
    grid-row: 1/7;
    grid-column: 7/13;
    background-color: #898989;
    color: #fff; }

.skill .Desi, .skill .Web, .skill .Soft, .skill .Data {
  padding: 3%;
  background-color: #212121;
  margin: 3%; }

.header-small {
  height: 10em; }

.prof {
  padding: 5% 4%;
  display: grid;
  grid-template-columns: 33% auto 33%; }
  .prof .prof-con {
    grid-column: 1; }
  .prof .prof-img {
    grid-column: 3;
    text-align: center; }
  .prof h1 {
    margin-bottom: 5%; }
  .prof img {
    width: 100%;
    height: auto; }

/*Project page*/
.center-page-proj {
  max-width: 760px;
  margin: auto; }

.proj {
  margin-left: 5%;
  margin-top: 5%; }

.projBox {
  display: flex;
  flex-direction: row;
  background-color: #3F3F3F;
  margin: 5% 10%;
  padding: 1em;
  align-items: center; }
  .projBox p {
    color: #EAEAEA;
    width: 60%;
    line-height: 1.5em;
    font-size: 1em;
    font-weight: 300;
    margin: 5%; }
  .projBox a {
    display: flex;
    background-color: #EAEAEA;
    width: 200px;
    height: 185px;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover; }
  .projBox .PJBX-1 {
    background-image: url("/Images/china-Town-Button.png"); }

/*Design Page*/
h1 {
  color: #212121; }

.desi-main {
  background-color: #3F3F3F; }
  .desi-main .desi {
    margin-left: 5%;
    padding: 5% 0; }
  .desi-main h3 {
    color: #EAEAEA; }

.box-grid {
  margin: 0;
  display: grid;
  grid-gap: 2.5%;
  grid-template-columns: repeat(10, minmax(40px, 60px));
  grid-template-rows: repeat(10, 1fr);
  height: 125vmin;
  justify-content: center;
  padding-bottom: 5%; }

.box {
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center; }

.box-1 {
  grid-column: 1/4;
  grid-row: 1/4;
  background-image: url("/Images/Night_city_Banner.png"); }

.box-2 {
  grid-column: 4/8;
  grid-row: 1/5; }

.box-4 {
  grid-column: 1/4;
  grid-row: 4/7; }

.box-5 {
  grid-column: 4/11;
  grid-row: 5/8; }

.box-6 {
  grid-column: 1/4;
  grid-row: 7/11; }

.box-7 {
  grid-column: 4/8;
  grid-row: 8/11; }

.box-8 {
  grid-column: 8/11;
  grid-row: 1/5; }

.box-10 {
  grid-column: 8/11;
  grid-row: 8/11; }

/*Contact page*/
.con-main {
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url("/Images/Jm_lunch.jpg");
  background-position: center;
  background-size: cover;
  height: 600px;
  background-blend-mode: overlay; }

.con-main > div {
  display: flex;
  max-width: 800px; }

.con-info {
  width: 40%;
  margin-left: 5%; }
  .con-info h1 {
    margin: 15% 0;
    text-align: center; }
  .con-info h3 {
    margin: 125px 0 10% 0; }
  .con-info span {
    margin: 10% 0;
    display: flex;
    align-items: center; }
  .con-info h5 {
    display: inline;
    margin-left: 5%; }
  .con-info #phone {
    height: 50px; }
  .con-info #email {
    width: 50px; }

.con-form {
  background-color: #898989;
  width: 45%;
  height: 600px;
  margin-left: 10%; }
  .con-form form {
    margin-top: 75px;
    display: flex;
    flex-direction: column; }
  .con-form input, .con-form textarea {
    margin: 5% 8%;
    font-family: "Open Sans Condensed", sans-serif;
    color: #898989;
    border-radius: 4px;
    border: none;
    font-size: 1em;
    padding-left: 10px; }
  .con-form input {
    height: 40px; }
  .con-form textarea {
    height: 150px;
    resize: vertical;
    max-height: 200px;
    padding-top: 7px; }
  .con-form input::placeholder {
    font-family: "Open Sans Condensed", sans-serif;
    color: #898989; }
  .con-form #con-sub {
    margin: 5% 20%;
    height: 2.5em;
    font-family: "Comfortaa", cursive;
    font-size: 1.2em;
    border: 3px solid #EAEAEA;
    color: #EAEAEA;
    background-color: transparent; }

.Content-mobile {
  display: none; }

/*general*/
* {
  margin: 0;
  padding: 0; }

*
h1 {
  font-family: "Staatliches", cursive;
  font-size: 3em;
  font-weight: 100; }

h2, h3, h4, h5 {
  font-family: "Comfortaa", cursive;
  font-weight: 100; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.15em; }

h5 {
  font-size: 1em; }

p {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1em; }

a {
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.25em; }

.center-page {
  max-width: 960px;
  margin: auto; }

.shadow {
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.4); }

/*header*/
header {
  background-image: url(/Images/Sunrise-City-Banner.png);
  background-position: bottom;
  background-size: cover; }
  header img {
    margin-top: 3%;
    float: left;
    height: 5em;
    Margin-left: 3%; }

nav.Content-tab-desk, nav#Content-tab-desk {
  margin-top: 6%;
  float: right;
  margin-right: 3%; }
  nav.Content-tab-desk a, nav#Content-tab-desk a {
    padding: 1vmax; }

.main-page {
  height: 27em; }

/*about section*/
.abt {
  position: absolute;
  top: 120px;
  right: 10%;
  left: 10%; }
  .abt .temp {
    width: 100%; }
  .abt .container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 13em; }
  .abt .abt-img-box {
    max-width: 15em; }
  .abt .abt-text-box {
    background-color: rgba(89, 89, 89, 0.75);
    color: white;
    padding: 1em;
    max-width: 20em; }
    .abt .abt-text-box h3 {
      margin: .5em; }
    .abt .abt-text-box p {
      margin: 0 5%;
      color: white;
      line-height: 1.5; }
  .abt h1 {
    margin-bottom: .5em;
    width: 100%;
    text-align: center;
    color: #fff; }

.MW-Logo {
  background-size: contain; }

/*overview */
.over {
  margin-top: 2%;
  text-align: center; }
  .over p {
    margin: 3% 20%;
    line-height: 1.8; }

/*Portfolio*/
.port {
  background-color: eaeaea;
  display: flex;
  justify-content: center; }
  .port a {
    margin: 2vmax 1vmax;
    background-size: cover;
    width: 9em;
    height: 7em;
    text-align: center;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .port a h3 {
      position: relative;
      font-family: "Staatliches", cursive; }

#cafe {
  background-image: linear-gradient(rgba(255, 255, 255, 0), #595959), url(/Images/DC-Cafe-Button.png); }

#JM {
  background-image: linear-gradient(rgba(255, 255, 255, 0), #595959), url(/Images/Jm-505-Button.png); }

#China {
  background-image: linear-gradient(rgba(255, 255, 255, 0), #595959), url(/Images/china-Town-Button.png); }

/*links*/
.lin {
  background-color: #3f3f3f; }
  .lin .lin-container {
    margin: 0 16% 0 16%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #3f3f3f), linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #3f3f3f), url(/Images/Night_city_Banner.png);
    background-size: cover;
    background-position: center;
    max-height: 10v;
    padding-top: 1vmax;
    padding-bottom: .5%; }
    .lin .lin-container h3 {
      color: white;
      font-family: "Comfortaa", cursive;
      text-align: center;
      margin-bottom: 2%; }
    .lin .lin-container div {
      display: flex;
      justify-content: center; }
      .lin .lin-container div a {
        border-radius: 50%;
        text-align: center;
        margin: 1vmax;
        padding: 1vmax;
        font-size: 2em;
        border: .3vmax solid white; }

.Linkd {
  background-color: #0e76a8; }

.Stack {
  background-color: #F48024; }

.Git {
  background-color: #211F1F; }

footer {
  text-align: center;
  color: white;
  padding: 2vmax;
  background-color: #212121; }

@Media screen and (Max-width: 700px) {
  .Content-mobile {
    display: block; }
  #Content-tab-desk {
    display: none; } }

button.Content-mobile {
  margin: 10% 7% 0 0;
  float: right;
  background-color: transparent;
  border: none; }
  button.Content-mobile .Sub-menu {
    display: none;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 750px;
    width: 14em;
    background-color: #212121;
    overflow: auto;
    z-index: 3; }
  button.Content-mobile a {
    margin: 25% 30%; }

button.Content-mobile:focus-within .sub-menu {
  display: block; }

button.Content-mobile:focus-within {
  position: fixed;
  right: 160px; }

@Media screen and (Max-width: 700px) {
  img {
    object-fit: cover; }
  .abt {
    position: relative;
    top: -200px;
    margin-bottom: -200px;
    right: auto;
    left: auto; }
    .abt .container {
      flex-direction: column;
      max-height: none; }
    .abt .abt-img-box {
      width: 17em; }
      .abt .abt-img-box .temp {
        border-radius: 50%;
        background-color: white;
        border: 5px solid white; }
    .abt .abt-text-box {
      margin: auto;
      width: 70%;
      background-color: transparent;
      color: #212121;
      max-width: none;
      text-align: center; }
      .abt .abt-text-box h3 {
        text-align: center; }
      .abt .abt-text-box p {
        color: #212121; }
    .abt hr {
      border: 2px solid #212121;
      background-color: #212121;
      width: 60%;
      margin: 50px auto 0 auto; }
  .over {
    margin: auto;
    width: 70%; }
    .over h2 {
      margin-top: 60px; }
    .over p {
      margin: 5% 0 10% 0;
      padding: 1em; }
  #resu div {
    margin: auto;
    width: 70%; }
  #resu h3, #resu h2 {
    text-align: center;
    padding: 8% 0 4% 0; }
  #resu h1 {
    font-family: "Staatliches", cursive;
    font-size: 4em;
    text-align: center;
    mix-blend-mode: screen;
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1)), linear-gradient(to left, white, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1));
    padding: 10% 0; }
  #resu .resu-title {
    margin: 0 15%;
    background: url("/images/DC-Cafe-Button.png");
    background-position: bottom; }
  #resu .exp {
    background-color: #3F3F3F;
    color: #EAEAEA; }
  #resu .edu {
    background-color: #EAEAEA;
    color: #898989; }
  #resu .exp div, #resu .edu div {
    padding: 25px 0; }
  #resu .exp h4, #resu .exp p, #resu .edu h4, #resu .edu p {
    padding: 5px 0; }
  #resu .exp h4:nth-child(2), #resu .exp p, #resu .edu h4:nth-child(2), #resu .edu p {
    padding: 10px 0 10px 10px; }
  #resu .skill {
    background-color: #898989;
    color: #EAEAEA;
    padding-bottom: 5%; }
    #resu .skill h4:nth-child(2) {
      margin: auto;
      width: 70%;
      padding-right: 20%;
      text-align: right; }
    #resu .skill .skill_container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(4, 120px); }
    #resu .skill .Skill_container div {
      margin: 0;
      width: auto; }
    #resu .skill .ui-mobile, #resu .skill .web-mobile, #resu .skill .soft-mobile, #resu .skill .data-mobile {
      grid-column: 1/4; }
    #resu .skill .tools {
      background-color: #EAEAEA;
      color: #898989;
      grid-column: 4/6;
      padding: 10% 5% 5% 5%; }
    #resu .skill .ui-mobile {
      grid-row: 1; }
    #resu .skill .web-mobile {
      grid-row: 2; }
    #resu .skill .soft-mobile {
      grid-row: 3; }
    #resu .skill .data-mobile {
      grid-row: 4; } }
