.center-page-proj{
    max-width: 760px;
    margin: auto;
}
.proj{
    margin-left: 5%;
    margin-top: 5%;
}
.projBox{
    display:flex;
//    flex-direction: row;
    background-color: $onyx;
    margin: 5% 10%;
    padding: 1em;
    align-items: center;
    p{
        color: $plantinum;
        width: 60%;
        line-height: 1.5em;
        font-size: 1em;
        font-weight: 300;
        margin: 5% ;

    }
    a{
        display:flex;
        background-color: $plantinum;
        width: 200px;
        height: 185px;
        align-items: center;
        justify-content: center; 
        background-position: center;
        background-size:cover;
    }
    .PJBX-1{
        background-image: url("/Images/china-Town-Button.png");
    }
}
@media only screen and (max-width: 960px){

}