/* Variables*/
$font-open: 'Open Sans Condensed', sans-serif;
$font-staat: 'Staatliches', cursive;
$font-com: 'Comfortaa', cursive;
$onyx: #3F3F3F;
$plantinum: #EAEAEA;
$eerie-black: #212121;
$battleship-grey: #898989;
